---
title: Stage
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {% include "partials/navigation.njk" %}

    {{ content | safe }}

    {% include "partials/footer.njk" %}
  </body>
</html>
