<footer class="bg-dark px-5 md:px-20 py-16 md:py-8 text-dark-gray">
  <p class="mb-10">
    <span class="font-medium">Provozovatel:</span> PACCA s.r.o., Františkovská
    233/6, Liberec Liberec III-Jeřáb, 460&nbsp;07, IČ:&nbsp;04975154
  </p>

  <div class="md:flex md:justify-between">
    <p class="font-sm mb-8">Copyright &copy; 2025</p>

    <a href="https://inago.cz" target="_blank">
      <img
        src="/assets/graphic/logo_inago.svg"
        alt="Inago Logo"
        class="w-48 h-auto"
      />
    </a>
  </div>
</footer>
